#what .items {
    display: block;
    padding: 1rem;
    margin: bottom 10px;;
}



/* align icon to left*/
#what .items .item {
   display: flex;
   text-align: left; 
}

/* icon position */
#what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 10px;
}